/* -----------------------------------------------[ CUSTOM CODE ] */

#feature-video-wrapper {
   position: relative;
   box-sizing: content-box;
   border: 4px solid #000;
   border-radius: 32px;
   overflow: hidden;
   position: relative;
   background-color: #000;
}

#feature-video-wrapper img {
   opacity: 0;
}

#feature-video-wrapper:after {
   display: block;
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: url(../images/video-frame.webp) no-repeat top left;
   background-size: cover;
   pointer-events: none;
}

#feature-video {
   position: absolute;
   top: 0;
   left: 0;
   width: auto;
   height: 100%;
   left: 50%;
   transform: translateX(-50%);
   /* object-fit: cover; */
}

#video-play-button {
   width: 86px;
   height: 86px;
   border-radius: 50%;
   background-color: #FFF;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: absolute;
   top: 80%;
   pointer-events: none;
}

#video-play-button svg {
   margin-left: 4px;
   transform: scale(0.8);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
   #feature-video-wrapper {
      border-width: 2px;
      border-radius: 16px;
   }

   #video-play-button {
      width: 32px;
      height: 32px;
   }

   #video-play-button svg {
      margin-left: 1px;
      transform: scale(0.4);
   }
}